

@keyframes slidy{
			0%{ left : 0%; }
			10%{ left : 0%; }
			20%{ left : -100%; }
			30%{ left : -100%; }
			40%{ left : -200%; }
			50%{ left : -200%; }
			60%{ left : -300%; }
			70%{ left : -300%; }
			80%{ left : -400%; }
			90%{ left : -400%; }
			100%{ left : -400%; }
		}
		*{margin:0; padding:0;}
		body{margin:0;}
		div#slider {overflow:hidden;}
		div.item{width:100%; float:left;}
		div#slider{
			position:relative;
			width:800px;	height:100%;
			margin:0;
			top:0;	left:0;
			text-align:left;
			animation:15s slidy ease-in-out infinite;
		}




